.container {
  background-color: ivory;
  border: 10px;
  padding: 10px;
}

.easel {
  background-color: lightblue;
  width: 720px;
  height: 720px;
  margin: auto;
  padding: 10px;
}

.canvas {
  background-color: lightpink;
  width: 95%;
  height: 75%;
  margin: 10px auto;
}

.color-palette {
  background-color: aquamarine;
  width: 95%;
  height: 20%;
  margin: auto;
}

.pixel {
  float: left;
  width: 250px;
  height: 250px;
  display: block;
  overflow: hidden;
  background-color: green;
  border: 1px solid black;
}
