body {
  font-family: 'Raleway', sans-serif;
  color: #9d8c8c;
  background-color: ivory;
}

span {
  font-weight: bolder;
  float: left;
  margin: 5px 10px;
  letter-spacing: .15em;
}

label {
  font-weight: bolder;
  /*float: right;*/
  display: inline-block;
  margin: 5px 10px;
  letter-spacing: .15em;
}

.container {
  border: 10px;
  padding: 10px;
}

.easel {
  background-color: Gainsboro;
  width: 740px;
  height: 580px;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #888888;
}

.canvas {
  width: 720px;
  height: 480px;
  margin: auto;
}

.pixel {
  float: left;
  width: 18px;
  height: 18px;
  display: block;
  overflow: hidden;
  background-color: white;
  border: 1px solid Gainsboro;
}

.palette {
  width: 95%;
  height: 15%;
  margin: auto;
  padding-top: 10px;
}

.palette-color {
  border-radius: 20px;
  height: 20px;
  width: 20px;
  float: left;
  margin: 5px 5px;
}

#palette-current-color {
  width: 60px;
  height: 20px;
  border-radius: 3px;
  background-color: Gainsboro;
  float:left;
  margin: 5px 5px;
}
